bpi_challenge_2017.xes
bpi_challenge_2017.csv
bpi2017_finishedCases.xes
bpi2017_finishedCases.csv
git-token.txt
bpi2017_simpleEnhancedData.csv
bpi2017_simpleEnhancedData.xes
bpi2017_enhancedData.csv
bpi2017_enhancedData.xes
