bpi_challenge_2017.xes
bpi_challenge_2017.csv
bpi2017_finishedCases.xes
bpi2017_finishedCases.csv
git-token.txt
bpi2017_simpleEnhancedData.csv
bpi2017_simpleEnhancedData.xes
bpi2017_enhancedData.csv
bpi2017_enhancedData.xes
bpi2017_filledLog.csv
bpi2017_filledLog.xes
bpi2017_offerNumber.csv
bpi2017_processed.csv
bpi2017_final.csv
bpi2017_final_log.xes

